@{
    ViewData["Title"] = "Hakkımda";
}
<p>Elektrik-Elektronik Mühendisliği mezunu, yazılım alanında ilerlemeye çalışan biri. Adım adım öğrendiklerimi uygulayarak gelişeceğim.</p>
<a href="../Home/Index" style="display:block"><b>Ana Sayfaya Git</b></a>
<hr />
<iframe src="https://www.google.com/maps?q=mor%20s%C3%BCmb%C3%BCl%20sok%20no%201&output=embed&hl=tr&z=12" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>